<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<context:component-scan base-package="kr.co.soldesk.*"></context:component-scan>
	
	
	
	<bean id="userDAO" class="kr.co.soldesk.persistence.UserInfoDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>

	<bean id="userDao" class="kr.co.soldesk.persistence.UserInfoDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>

	<bean id="boardDAO" class="kr.co.soldesk.persistence.BoardDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>


	<bean id="teamInfoDAO" class="kr.co.soldesk.persistence.TeamInfoDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>



	<bean id="stadiumDAO" class="kr.co.soldesk.persistence.StadiumDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>



	<bean id="teamRegDAO" class="kr.co.soldesk.persistence.TeamRegDAO">
		<property name="ss" ref="sqlSessionTemplate" />	
</bean>

	<bean id="matchRegDAO" class="kr.co.soldesk.persistence.MatchRegDAO">
		<property name="ss" ref="sqlSessionTemplate" />
</bean>

	<bean id="matchInfoDAO" class="kr.co.soldesk.persistence.MatchInfoDAO">
		<property name="ss" ref="sqlSessionTemplate" />
</bean>


	
	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- db 연결정보 -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="/WEB-INF/SqlMapConfig.xml" />	
	
</bean>
	
	
	<!-- ${driver} 이런 정보들이 어디에 있는지 spring framework가 모르니까 알려주기 -->
	<bean id="property" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/db.properties" />
</bean>	
	
	<!-- db 연결정보 - bean -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
</bean>
	
	

	<!-- SqlSessionTemplate 객체 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<!-- SqlSessionTemplate는 생성자가 필요함 -->
		<constructor-arg ref="sqlSessionFactoryBean"></constructor-arg>
</bean>
	
	
	
	
</beans>
